@tailwind base;
@tailwind components;
@tailwind utilities;

.ace-editor-wrapper {
    @apply relative rounded-md shadow-sm ring-1 focus-within:!ring-2 focus-within:!ring-blue-600;
}

.ace-editor-wrapper.base {
    @apply ring-gray-300 dark:ring-gray-600;
}

.ace-editor-wrapper.danger {
    @apply ring-red-600 dark:ring-red-500;
}

.ace-editor {
    @apply w-full h-full rounded-md;
}

