/* Base Editor Component */
.rd-ace-editor {
    @apply relative overflow-hidden transition duration-75 bg-white rounded-lg shadow-sm ring-1 ring-gray-950/10 dark:bg-gray-900 dark:border-gray-700 focus-within:border-primary-600;

    &:focus-within {
        @apply ring-2 ring-primary-600/20;
    }

    &.has-error {
        @apply border-danger-500 ring-2 ring-danger-500/20 dark:border-danger-400 dark:ring-danger-400/20;
    }

    &.rd-ace-editor-disabled {
        @apply bg-gray-100 opacity-75 cursor-not-allowed dark:bg-gray-800;

        .rd-ace-editor-content {
            @apply pointer-events-none;
        }
    }
}

.rd-ace-editor-content {
    @apply transition-colors duration-200 bg-white border border-gray-200 dark:bg-gray-900 dark:border-gray-700;
}

.rd-ace-editor-content.rd-ace-content-with-header {
    @apply border-t-0 rounded-t-none;
}

.rd-ace-editor-content.rd-ace-content-with-toolbar {
    @apply border-t-0;
}

.rd-ace-editor-content.rd-ace-content-no-toolbar.rd-ace-content-no-header {
    @apply rounded-t-lg rounded-b-lg;
}

.rd-ace-editor-content.rd-ace-content-without-status {
    @apply rounded-b-lg;
}

.rd-ace-editor-wrapper {
    @apply w-full h-full;
}

.rd-ace-toolbar-no-header {
    @apply rounded-t-lg;
}
