/* Status Bar Component  */
.rd-ace-editor-status {
    @apply flex items-center justify-between px-3 py-1.5 text-xs font-mono;
    @apply border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700;
    @apply border-t rounded-b-lg;
}

.rd-ace-editor-status-position,
.rd-ace-editor-status-info {
    @apply text-gray-500 dark:text-gray-400;

    span {
        @apply text-gray-900 dark:text-gray-100;
    }
}

/* Error message  */
.rd-ace-editor-error {
    @apply mt-1 text-sm text-danger-600 dark:text-danger-400;
}
